<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="mask" converterClass="com.enterprise.spendsync.shared.logging.PiiMaskingConverter" />

  
    <springProfile name="dev | default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%cyan(%X{traceId:-NO_TRACE})] [%yellow(%X{tenantId:-NO_TENANT})] [%thread] %logger{36} : %mask(%msg)%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

   
    <springProfile name="prod | staging">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <includeMdcKeyName>tenantId</includeMdcKeyName>
                <includeMdcKeyName>userId</includeMdcKeyName>
                <includeMdcKeyName>userRole</includeMdcKeyName>
                <includeMdcKeyName>clientIp</includeMdcKeyName>
                <includeMdcKeyName>httpMethod</includeMdcKeyName>
                <includeMdcKeyName>requestUri</includeMdcKeyName>
                <customFields>{"app":"spendsync-backend","env":"prod"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>

</configuration>
